<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QR Scanner Demo</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div id="container">
        <h1>Start Page</h1>
        <a href="/scan">Начать сканирование</a>
    </div>    
</body>
</html>