*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
    overflow-x: hidden;
    height: 100vh;
}
#container{
    height: 100vh;
    width: 100vw;
    display: none;
}
#qr-video{
    position: relative;
    height: 50vh;
    width: 100%;
    background-color: rgb(0,0,0);
    margin: 0;
    padding: 0;
}
#start{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#area{
    border: 2px solid greenyellow;
    height: 25vh;
    width: 25vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#start-btn{
    width: 50%;
    height: 10%;
    font-size: 1.2rem;
}
.data{
    width: 100%;
    height: 40vh;
    overflow-y: scroll;
}
.data::-webkit-scrollbar{
    width: 0px;
}
.row{
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    margin: 0;
}
.target{
    width: 45%;
}
.wrapper{
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.item-wrapper{
    display: flex;
    padding: 3px;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid rgba(26, 26, 26, 0.363);
}
.info{
    color: lightslategray;
    font-size: 0.8rem;
}
.mark{
    height: 25px;
    width: 25px;
    margin-right: 5px;
}
#userSelector{
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    height: 100vh;
    width: 100vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#submit{
    margin-top: 15px;
}
